@import "bootstrap-sprockets";
@import "bootstrap";
@import "things";
@import "users";


.green-color {
  color: green;
}

.red-color {
  color: red;
}

.strike-text {
  text-decoration: line-through;
}
